*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
	font-family: 'Prompt', sans-serif;
}
.hero{
	height: 100vh;
	width: 100%;
	background-image: url(../img/iii2.png);
	backdrop-filter: blur(10px);
	background-size: cover;
	background-position: center;
	
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
	display: flex;
	

}
.logo{
	color: white;
	font-size: 50px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: #ffffff;
}
span1{
	color: #fff018;
}


nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 20px 15px ;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #fff018;
	transition: .4s;
}
.btn{
	background-color:#fff018;
	color: #010a86;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);
}
span2{
	text-shadow: 2px 5px 3px rgba(135, 153, 0, 0.8);

}
.content{
	position: absolute;
	top: 55%;
	right:19.5%;
	transform: translateY(-50%);	
}
h1{
	color: white;
	margin: 50px 60px 10px;
	font-size: 50px;
	text-align: center;
	
}

h3{
	color: #F4E185;
	text-shadow: 2px 5px 3px rgba(135, 153, 0, 0.8);
	font-size: 30px;
	margin-bottom: 50px;
	text-align: center;
}


.newslatter form{
	width: 380px;
	max-width: 100%;
	position: relative;
}
.newslatter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid #f9004d;
	outline: none;
	border-radius: 30px;
}
.newslatter form input:last-child{
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color:#f9004d;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px; 
}

.about{
	width: 100%;
	padding: 100px 0px;
	background-image: linear-gradient(90deg, #00032e 31%, #00065c 99%);
	
}
.about img{
	height: auto;
	width: 350px;
	
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 60px;
	text-transform: capitalize;
	margin-bottom: 20px;
	text-shadow: 2px 5px 3px rgba(61, 0, 153, 1);
}
.about-text h3{
	color: white;
	font-size: 50px;
	text-transform: capitalize;
	margin-bottom: 20px;
	text-shadow: 2px 5px 3px rgba(61, 0, 153, 1);
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: rgba(253, 253, 253, 0.8);
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}

/* ไม่แน่ใจว่าอยู่ส่วนไหน
.buttonn{
	background-color:#fd0000;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}*/

.service{
	background-image: linear-gradient(90deg, rgba(0, 6, 92, 1) 0%, #00032e 41%);
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: white;
	text-shadow: 2px 5px 3px rgba(135, 153, 0, 0.8);
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.title h3{
	color: white;
	font-size: 40px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
	
}
.card{
	height: 400px;
	width: 335px;
	padding: 20px 35px;
	background: #203b77;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #fff018;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
	text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.8);
}
.pra p{
	color: rgba(255, 255, 255, 0.8);
	font-size: 14px;
	line-height: 25px;
	margin-bottom: 25px;
}
.card .button{
	background-color:#fff018;
	color: #191919;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}

.card .button:hover{
	background-color: transparent;
	border: 2px solid #fff018;
	color: #ffffff;
	cursor: pointer;
}
.contact-me{
	width: 100%;
	height: 150px;
	background-color:#24284d ;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.contact-me p{
	color: rgb(255, 255, 255);
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 25px;
	margin: 25px 0px;
}



footer{
	position: relative;
	width: 100%;
	height: 200px;
	background-color:#ffffff ;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: rgb(0, 0, 0);
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	position: absolute;
	color:#747273;
	bottom: 10px;
	font-size: 14px;
}
/* เก็บไว้ก่อน
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #f9004d;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}*/

.end1{
	position: absolute;
	color:#747273;
	bottom: 35px;
	font-size: 14px; 
}